.center-in-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.img-fluid {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.m-auto {
  margin: 0 auto;
}

.m-0 {
  margin: 0;
}

.mx-1 {
  margin-left: .5rem;
  margin-right: .5rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-3 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-1 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.m-1 {
  margin: .5rem;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}

.mt-1 {
  margin-top: .5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mr-1 {
  margin-right: .5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 2rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mb-1 {
  margin-bottom: .5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.ml-1 {
  margin-left: .5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 2rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.p-0 {
  padding: 0;
}

.px-1 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-1 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.p-1 {
  padding: .5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.pt-1 {
  padding-top: .5rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pt-3 {
  padding-top: 2rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pr-1 {
  padding-right: .5rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pr-3 {
  padding-right: 2rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pb-1 {
  padding-bottom: .5rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pb-3 {
  padding-bottom: 2rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pl-1 {
  padding-left: .5rem;
}

.pl-2 {
  padding-left: 1rem;
}

.pl-3 {
  padding-left: 2rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pl-5 {
  padding-left: 5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --l-green: $l-green;
  --d-green: $d-green;
}

html {
  font-size: 62.5%;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-y: scroll;
  height: auto;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

body {
  scroll-behavior: smooth;
  padding: 1.5rem;
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::-moz-selection {
  color: #fff;
  background-color: #28a745;
}

::selection {
  color: #fff;
  background-color: #28a745;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

html {
  font-family: lato;
  line-height: 1.2;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sailec;
  text-transform: capitalize;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h4,
h5,
h6 {
  font-weight: 400;
}

p {
  opacity: 0.85;
}

h1 {
  font-size: 4rem;
}

@media only screen and (max-width: 56.25em) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5,
p {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

.txt--center {
  text-align: center;
}

.txt--left {
  text-align: left;
}

.txt--right {
  text-align: right;
}

.txt--justify {
  text-align: justify;
}

.txt--upper {
  text-transform: uppercase;
}

.txt--lower {
  text-transform: lowercase;
}

.txt--cap {
  text-transform: capitalize;
}

.txt--underline {
  text-decoration: underline;
}

.txt--overline {
  text-decoration: overline;
}

.txt--linethrough {
  text-decoration: line-through;
}

@-webkit-keyframes scaleDown {
  0% {
    opacity: 0;
    -webkit-transform: scale(10);
    transform: scale(10);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleDown {
  0% {
    opacity: 0;
    -webkit-transform: scale(10);
    transform: scale(10);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes btnFade {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes btnFade {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
  }
}

.btn {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: color 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), background-color 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), border-color 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), -webkit-box-shadow 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), -webkit-transform 0.15s cubic-bezier(0.8, 0, 0.26, 1.65);
  transition: color 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), background-color 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), border-color 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), -webkit-box-shadow 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), -webkit-transform 0.15s cubic-bezier(0.8, 0, 0.26, 1.65);
  -o-transition: color 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), background-color 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), border-color 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), box-shadow 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), transform 0.15s cubic-bezier(0.8, 0, 0.26, 1.65);
  transition: color 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), background-color 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), border-color 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), box-shadow 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), transform 0.15s cubic-bezier(0.8, 0, 0.26, 1.65);
  transition: color 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), background-color 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), border-color 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), box-shadow 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), transform 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), -webkit-box-shadow 0.15s cubic-bezier(0.8, 0, 0.26, 1.65), -webkit-transform 0.15s cubic-bezier(0.8, 0, 0.26, 1.65);
}

.btn__link {
  color: #28a745;
  text-decoration: none;
}

.btn__link:hover {
  text-decoration: underline;
  color: #2dbc4e;
}

.btn__primary, .btn__secondary {
  position: relative;
  text-decoration: none;
  font-weight: 600;
}

.btn__primary::after, .btn__secondary::after {
  content: '';
  display: inline-block;
  position: absolute;
}

.btn__primary span, .btn__secondary span {
  margin-left: 1.5rem;
}

.btn__primary {
  text-transform: uppercase;
  color: #343a40;
  background-color: #fff;
  border-radius: 6rem;
  padding: 1.2rem 5rem;
  z-index: 1;
}

.btn__primary::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: inherit;
  border-radius: 3.5rem;
}

.btn__primary:hover {
  color: #000;
  text-decoration: none;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn__primary:hover::after {
  -webkit-animation: btnFade 0.25s ease-out;
  animation: btnFade 0.25s ease-out;
}

.btn__primary:active {
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.btn__primary--md {
  font-size: 1.4rem;
  padding: 1rem 3rem;
}

.btn__secondary {
  font-size: 1.6rem;
  color: #28a745;
  border-left: 3px solid #28a745;
  padding: .8rem 2rem;
  z-index: 2;
}

.btn__secondary::after {
  left: 0;
  top: 0;
  width: 0;
  z-index: -2;
  height: 100%;
  border-radius: 0 4rem 4rem 0;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.btn__secondary:hover {
  color: #fff;
}

.btn__secondary:hover::after {
  width: 100%;
  background-color: #28a745;
}

.btn__secondary--md {
  font-size: 1.4rem;
  padding: .8rem 1.5rem;
}

.btn--green {
  color: #f8f9fa;
  background-color: #28a745;
}

.btn--green:hover {
  color: #fff;
}

.main__title {
  display: inline-block;
  text-align: center;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-linear-gradient(199.6deg, #5ef296 11.2%, #27ce7f 91.1%);
  background-image: -o-linear-gradient(199.6deg, #5ef296 11.2%, #27ce7f 91.1%);
  background-image: linear-gradient(-109.6deg, #5ef296 11.2%, #27ce7f 91.1%);
  background-position: center;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

.cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
}

@media only screen and (max-width: 56.25em) {
  .cards-container {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  -webkit-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  height: 50rem;
}

@media only screen and (max-width: 56.25em) {
  .card {
    width: 60%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 37.5em) {
  .card {
    width: 80%;
  }
}

@media only screen and (max-width: 37.4375em) {
  .card {
    width: 75%;
  }
}

.card__side {
  background-color: #fff;
  height: 50rem;
  -webkit-transition: all 1.4s cubic-bezier(0.8, 0, 0.26, 1.65);
  -o-transition: all 1.4s cubic-bezier(0.8, 0, 0.26, 1.65);
  transition: all 1.4s cubic-bezier(0.8, 0, 0.26, 1.65);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__side--front {
  border-top-color: #fff;
  position: relative;
  z-index: 10;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: -webkit-linear-gradient(315deg, #FFE985 10%, #FA742B 100%);
  background-image: -o-linear-gradient(315deg, #FFE985 10%, #FA742B 100%);
  background-image: linear-gradient(135deg, #FFE985 10%, #FA742B 100%);
}

.card__side--back-2 {
  background-image: -webkit-linear-gradient(315deg, #81FBB8 10%, #28C76F 100%);
  background-image: -o-linear-gradient(315deg, #81FBB8 10%, #28C76F 100%);
  background-image: linear-gradient(135deg, #81FBB8 10%, #28C76F 100%);
}

.card__side--back-3 {
  background-image: -webkit-linear-gradient(315deg, #52E5E7 10%, #130CB7 100%);
  background-image: -o-linear-gradient(315deg, #52E5E7 10%, #130CB7 100%);
  background-image: linear-gradient(135deg, #52E5E7 10%, #130CB7 100%);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.card__title {
  position: relative;
}

.card__title::after {
  content: '';
  position: absolute;
  display: block;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: 1rem solid #fff;
  border-radius: 4px;
}

.card__title--img {
  height: 22rem;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
}

.card__title--img-1 {
  background-image: -webkit-linear-gradient(315deg, #FFE985 10%, #FA742B 100%), url("./../imgs/nat-5.jpg");
  background-image: -o-linear-gradient(315deg, #FFE985 10%, #FA742B 100%), url("./../imgs/nat-5.jpg");
  background-image: linear-gradient(135deg, #FFE985 10%, #FA742B 100%), url("./../imgs/nat-5.jpg");
}

.card__title--img-2 {
  background-image: -webkit-linear-gradient(315deg, #81FBB8 10%, #28C76F 100%), url("./../imgs/nat-6.jpg");
  background-image: -o-linear-gradient(315deg, #81FBB8 10%, #28C76F 100%), url("./../imgs/nat-6.jpg");
  background-image: linear-gradient(135deg, #81FBB8 10%, #28C76F 100%), url("./../imgs/nat-6.jpg");
}

.card__title--img-3 {
  background-image: -webkit-linear-gradient(315deg, #52E5E7 10%, #130CB7 100%), url("./../imgs/nat-7.jpg");
  background-image: -o-linear-gradient(315deg, #52E5E7 10%, #130CB7 100%), url("./../imgs/nat-7.jpg");
  background-image: linear-gradient(135deg, #52E5E7 10%, #130CB7 100%), url("./../imgs/nat-7.jpg");
}

.card__title--heading {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  right: 2rem;
  z-index: 15;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
}

.card__details {
  width: 75%;
  text-align: center;
}

.card__details ul {
  list-style-type: none;
}

.card__details li {
  text-transform: capitalize;
}

.card__details li:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
}

.card__price {
  color: #fff;
  text-align: center;
}

.card__price h5 {
  font-weight: 400;
}

.card__price h1 {
  font-size: 8rem;
  font-weight: 200;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}

.card__price h1 span {
  font-size: 2rem;
  padding-left: .5rem;
}

.story {
  width: 80%;
  padding: 4rem;
  -webkit-box-shadow: 0 0.6rem 0.8rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.6rem 0.8rem rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 4px;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 100;
}

@media only screen and (max-width: 56.25em) {
  .story {
    width: 90%;
  }
}

@media only screen and (max-width: 37.5em) {
  .story {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.story__img {
  background-color: #ffc107;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16rem;
  flex: 0 0 16rem;
  width: 16rem;
  height: 16rem;
  margin-right: 4rem;
  overflow: hidden;
  border-radius: 100%;
  position: relative;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

@media only screen and (max-width: 37.5em) {
  .story__img {
    margin: 0;
    margin-bottom: 4rem;
  }
}

.story__img img {
  height: 100%;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.story__img figcaption {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(2rem);
  -ms-transform: translateY(2rem);
  transform: translateY(2rem);
  text-align: center;
  color: #fff;
  font-size: 1.75rem;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.story:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-filter: blur(0.2rem) brightness(65%);
  filter: blur(0.2rem) brightness(65%);
}

.story:hover figcaption {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.form__group {
  width: 80%;
}

@media only screen and (max-width: 37.5em) {
  .form__group {
    width: 100%;
  }
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__group--radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.form__input {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  font-size: inherit;
  font-family: inherit;
  position: relative;
  z-index: 200;
  cursor: pointer;
  color: inherit;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

.form__input:focus {
  border-color: #28a745;
  -webkit-box-shadow: 0.2rem 0.8rem 1.6rem rgba(52, 58, 64, 0.1);
  box-shadow: 0.2rem 0.8rem 1.6rem rgba(52, 58, 64, 0.1);
  outline: none;
}

.form__input:focus:invalid {
  border-color: #dc3545;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__input:-ms-input-placeholder {
  color: #999;
}

.form__input::-ms-input-placeholder {
  color: #999;
}

.form__input::placeholder {
  color: #999;
}

.form__label {
  display: inline-block;
  padding: 0 2rem;
  margin-top: -3rem;
  font-size: 1.4rem;
  font-weight: 400;
  position: relative;
  z-index: 199;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.form__input:placeholder-shown + .form__label {
  -webkit-transform: translateY(-3rem);
  -ms-transform: translateY(-3rem);
  transform: translateY(-3rem);
  opacity: 0;
  z-index: -1;
}

.form__radio {
  position: relative;
  padding-left: 3rem;
}

.form__radio:not(:last-child) {
  margin-right: 3rem;
}

.form__radio--input {
  display: none;
}

.form__radio--input:checked + .form__radio--label .form__radio--btn {
  background-color: #28a745;
}

.form__radio--label {
  cursor: pointer;
  text-transform: capitalize;
  font-size: inherit;
}

.form__radio--btn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  padding: .3rem;
  background-color: transparent;
  background-clip: content-box;
  border: 3px solid #28a745;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}

.popup {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(52, 58, 64, 0.9);
  background-color--webkit-backdrop-filter: blur(20px);
  background-color-backdrop-filter: blur(20px);
  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
  visibility: hidden;
  opacity: 0;
}

.popup:target {
  visibility: visible;
  opacity: 1;
}

.popup:target .popup__container {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.popup .msg {
  color: #dc3545;
}

.popup__container {
  position: relative;
  width: 75%;
  margin: 0 auto;
  -webkit-transform: translateY(6rem);
  -ms-transform: translateY(6rem);
  transform: translateY(6rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 6rem 2rem rgba(52, 58, 64, 0.15);
  box-shadow: 0 2rem 6rem 2rem rgba(52, 58, 64, 0.15);
  border-radius: 4px;
  -webkit-transition: all 0.25s 0.1s;
  -o-transition: all 0.25s 0.1s;
  transition: all 0.25s 0.1s;
}

.popup__clos-btn {
  position: absolute;
  z-index: 2001;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  line-height: 1;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  color: #343a40;
  background-color: #f8f9fa;
  opacity: .6;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.popup__clos-btn:hover {
  opacity: 1;
  color: #f8f9fa;
  background-color: #343a40;
}

.popup__img {
  display: block;
  height: 100%;
  width: auto;
  border-radius: 4px 0 0 4px;
}

.popup--left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  height: 100%;
}

.popup--right {
  padding: 0 5rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
}

@media only screen and (max-width: 37.4375em) {
  .nav {
    background-color: gold;
  }
}

.nav__checkbox {
  display: none;
}

.nav__btn {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  top: 4rem;
  right: 4rem;
  z-index: 1002;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@media only screen and (max-width: 56.25em) {
  .nav__btn {
    top: 2.5rem;
    right: 3rem;
  }
}

.nav__btn .checkmark {
  width: 100%;
}

.nav__btn span {
  position: relative;
  display: block;
  width: 2.5rem;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.4rem;
  background-color: #343a40;
  border-radius: 3px;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.nav__btn span:first-child, .nav__btn span:nth-child(2), .nav__btn span:last-child {
  top: 0;
  left: 0;
  -webkit-transform: translateY(0) rotate(0deg);
  -ms-transform: translateY(0) rotate(0deg);
  transform: translateY(0) rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.nav__btn span:last-child {
  margin-bottom: 0;
}

.nav__bg {
  width: 100vw;
  height: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7dd46e), to(#29b382));
  background-image: -webkit-linear-gradient(left top, #7dd46e, #29b382);
  background-image: -o-linear-gradient(left top, #7dd46e, #29b382);
  background-image: linear-gradient(to right bottom, #7dd46e, #29b382);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0, 0.26, 1.65);
  -o-transition: all 0.5s cubic-bezier(0.8, 0, 0.26, 1.65);
  transition: all 0.5s cubic-bezier(0.8, 0, 0.26, 1.65);
}

.nav__menu {
  visibility: hidden;
  opacity: 0;
  list-style-type: none;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-5rem);
  -ms-transform: translateY(-5rem);
  transform: translateY(-5rem);
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  -webkit-transition: all 0.15s 0.15s;
  -o-transition: all 0.15s 0.15s;
  transition: all 0.15s 0.15s;
}

.nav__menu--item {
  text-align: center;
}

.nav__menu--item:not(:last-child) {
  margin-bottom: 2rem;
}

.nav__link {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.8rem 5rem;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.nav__link::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #fff;
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
}

.nav__link:hover {
  color: #28a745;
  -webkit-transform: translateX(-1rem);
  -ms-transform: translateX(-1rem);
  transform: translateX(-1rem);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.nav__link:hover::after {
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
}

.nav__checkbox:checked ~ .nav__btn .checkmark {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.nav__checkbox:checked ~ .nav__btn .checkmark span:first-child {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(5%, -50%);
  -ms-transform: rotate(-45deg) translate(5%, -50%);
  transform: rotate(-45deg) translate(5%, -50%);
}

.nav__checkbox:checked ~ .nav__btn .checkmark span:nth-child(2) {
  visibility: hidden;
  width: 0;
}

.nav__checkbox:checked ~ .nav__btn .checkmark span:last-child {
  top: -50%;
  -webkit-transform: rotate(45deg) translate(5%, 50%);
  -ms-transform: rotate(45deg) translate(5%, 50%);
  transform: rotate(45deg) translate(5%, 50%);
}

.nav__checkbox:checked ~ .nav__menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.nav__checkbox:checked ~ .nav__bg {
  height: 100vh;
}

.header {
  overflow: hidden;
  position: relative;
  padding: 20rem 0;
  padding-bottom: 26rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(125, 212, 110, 0.8)), to(rgba(41, 179, 130, 0.8))), url("./../imgs/hero.jpg");
  background-image: -webkit-linear-gradient(left top, rgba(125, 212, 110, 0.8), rgba(41, 179, 130, 0.8)), url("./../imgs/hero.jpg");
  background-image: -o-linear-gradient(left top, rgba(125, 212, 110, 0.8), rgba(41, 179, 130, 0.8)), url("./../imgs/hero.jpg");
  background-image: linear-gradient(to right bottom, rgba(125, 212, 110, 0.8), rgba(41, 179, 130, 0.8)), url("./../imgs/hero.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-radius: 8px 8px 0 0;
}

@media only screen and (max-width: 56.25em) {
  .header {
    border-radius: 0;
  }
}

.header__logo {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.header__logo--img {
  width: 6rem;
  height: auto;
  display: block;
}

.header__title {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.header__title--main, .header__title--sub {
  display: block;
}

.header__title--main {
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 2rem;
  margin-right: -2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 2px 6px 10px rgba(0, 0, 0, 0.1);
  -webkit-animation: scaleDown 1s ease-in-out;
  animation: scaleDown 1s ease-in-out;
}

@media only screen and (max-width: 56.25em) {
  .header__title--main {
    letter-spacing: 1rem;
    margin-right: -1rem;
  }
}

.header__title--sub {
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 1rem;
  margin-right: -1rem;
}

@media only screen and (max-width: 56.25em) {
  .header__title--sub {
    letter-spacing: .5rem;
    margin-right: -.5rem;
  }
}

.header__btn {
  -webkit-animation: fadeIn .5s ease-out .5s;
  animation: fadeIn .5s ease-out .5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.main {
  padding: 10rem 0;
}

.main .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}

@media only screen and (max-width: 56.25em) {
  .main .row {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8rem;
  }
}

.main .composition {
  position: relative;
  height: 22rem;
}

@media only screen and (max-width: 56.25em) {
  .main .composition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.main .composition__photo {
  position: absolute;
  z-index: 100;
  border-radius: .4rem;
  outline-offset: 1rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

@media only screen and (min-width: 56.25em) {
  .main .composition__photo:hover {
    z-index: 101;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    outline: 1rem solid #28a745;
    -webkit-box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.35);
    box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.35);
  }
}

.main .composition__photo--1 {
  top: -2rem;
  left: 0;
  z-index: 100;
}

@media only screen and (max-width: 56.25em) {
  .main .composition__photo--1 {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    top: 0;
  }
}

.main .composition__photo--2 {
  top: 10%;
  right: 0;
  z-index: 105;
}

@media only screen and (max-width: 56.25em) {
  .main .composition__photo--2 {
    top: 2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.main .composition__photo--3 {
  z-index: 102;
  top: 30%;
  left: 20%;
}

@media only screen and (max-width: 56.25em) {
  .main .composition__photo--3 {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    top: 0;
    left: auto;
    right: 0;
  }
}

.section--features {
  padding: 20rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(125, 212, 110, 0.8)), to(rgba(41, 179, 130, 0.8))), url("./../imgs/nat-4.jpg");
  background-image: -webkit-linear-gradient(left top, rgba(125, 212, 110, 0.8), rgba(41, 179, 130, 0.8)), url("./../imgs/nat-4.jpg");
  background-image: -o-linear-gradient(left top, rgba(125, 212, 110, 0.8), rgba(41, 179, 130, 0.8)), url("./../imgs/nat-4.jpg");
  background-image: linear-gradient(to right bottom, rgba(125, 212, 110, 0.8), rgba(41, 179, 130, 0.8)), url("./../imgs/nat-4.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

@media only screen and (max-width: 37.4375em) {
  .section--features {
    -webkit-clip-path: polygon(0 6%, 100% 0, 100% 94%, 0 100%);
    clip-path: polygon(0 6%, 100% 0, 100% 94%, 0 100%);
  }
}

.section--features .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

@media only screen and (max-width: 75em) {
  .section--features .row {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 37.4375em) {
  .section--features .row {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

.section--features .feature {
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 1px 17px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 17px 1px rgba(0, 0, 0, 0.16);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

@media only screen and (hover: hover), only screen and (min-width: 56.25em) {
  .section--features .feature:hover {
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0 1px 17px 1px rgba(0, 0, 0, 0.26);
    box-shadow: 0 1px 17px 1px rgba(0, 0, 0, 0.26);
    -webkit-transform: scale(1.04) translateY(-1.5rem);
    -ms-transform: scale(1.04) translateY(-1.5rem);
    transform: scale(1.04) translateY(-1.5rem);
  }
}

@media only screen and (max-width: 37.4375em) {
  .section--features .feature {
    width: 75%;
    padding: 6rem 4rem;
    margin: 0 auto;
  }
}

.section--features .feature__icon {
  font-size: 6rem;
  color: transparent;
  background-image: -webkit-linear-gradient(225deg, #139c15 10%, #3CD500 100%);
  background-image: -o-linear-gradient(225deg, #139c15 10%, #3CD500 100%);
  background-image: linear-gradient(-135deg, #139c15 10%, #3CD500 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.section--tours {
  padding: 25rem 0;
  padding-bottom: 10rem;
  margin-top: -15rem;
  background-color: #f7f7f7;
}

.section--stories {
  padding: 10rem 0;
  position: relative;
  overflow: hidden;
}

.section--stories .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.section--stories .bg-video video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.section--booking {
  padding: 10rem 0;
  background-image: -webkit-linear-gradient(315deg, #81FBB8 10%, #28C76F 100%);
  background-image: -o-linear-gradient(315deg, #81FBB8 10%, #28C76F 100%);
  background-image: linear-gradient(135deg, #81FBB8 10%, #28C76F 100%);
}

@media only screen and (max-width: 56.25em) {
  .section--booking {
    padding: 8rem 2rem;
  }
}

.section--booking .booking {
  background-image: -webkit-linear-gradient(345deg, rgba(248, 249, 250, 0.85) 60%, transparent 0), url("./../imgs/nat-10.jpg");
  background-image: -o-linear-gradient(345deg, rgba(248, 249, 250, 0.85) 60%, transparent 0), url("./../imgs/nat-10.jpg");
  background-image: linear-gradient(105deg, rgba(248, 249, 250, 0.85) 60%, transparent 0), url("./../imgs/nat-10.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 17px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0 1px 17px 1px rgba(0, 0, 0, 0.26);
  border-radius: 4px;
  padding: 6rem;
  padding-left: 10rem;
}

@media only screen and (max-width: 56.25em) {
  .section--booking .booking {
    padding: 4rem 6rem;
    background-image: -webkit-linear-gradient(345deg, rgba(248, 249, 250, 0.85) 100%, transparent 0), url("./../imgs/nat-10.jpg");
    background-image: -o-linear-gradient(345deg, rgba(248, 249, 250, 0.85) 100%, transparent 0), url("./../imgs/nat-10.jpg");
    background-image: linear-gradient(105deg, rgba(248, 249, 250, 0.85) 100%, transparent 0), url("./../imgs/nat-10.jpg");
  }
}

.section--booking .booking__form {
  width: 50%;
}

@media only screen and (max-width: 56.25em) {
  .section--booking .booking__form {
    width: 100%;
  }
}

.footer {
  padding: 8rem 0;
  padding-bottom: 12rem;
  color: #fff;
  background-color: #232526;
  border-radius: 0 0 8px 8px;
}

@media only screen and (max-width: 56.25em) {
  .footer {
    border-radius: 0;
  }
}

.footer .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
}

@media only screen and (max-width: 37.5em) {
  .footer .row {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer .row--inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.footer .row--inner, .footer .footer__copyright {
  padding-top: 2rem;
  border-top: 2px solid rgba(255, 255, 255, 0.25);
}

.footer__logo {
  width: 20rem;
  height: auto;
}

.footer h4 {
  margin-bottom: 2rem;
}

.footer__nav {
  list-style-type: none;
}

.footer__nav--item:not(:last-child) {
  margin-bottom: 1rem;
}

.footer__nav .btn {
  color: inherit;
  opacity: 0.8;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
}

.footer__nav .btn:hover {
  opacity: 1;
  text-decoration: underline;
}

/*# sourceMappingURL=main-min.css.map */